# Byte-compiled Dateien und Cache
__pycache__/
*.py[cod]

# Virtuelle Umgebungen
env/
venv/
.venv/

# Build- und Distributionsordner
build/
dist/

# Weitere temporäre Dateien
*.log

# Buildozer
.buildozer

# Dateien für die IDE
apps/
bin/

